body {
  margin-bottom: 0;
}
.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: auto;
  height: 90vh;
}
.box-text {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box-gif {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #034B8E;
  border-radius: 10%;
}

img{
  width: 30rem;
}
