<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/general.css">
        <link rel="stylesheet" href="../static/about.css">

    <title>Про Нас</title>
  </head>
  <nav class="sticky">
    <ul class="main-nav">
  	  <li class="push-left"><a href="main.html">Головна</a></li>
  	  <li><a href="information.html">Амбасадори</a></li>
  	  <li><a href="history.html">Історична довідка</a></li>
  	  <li><a href="fact.html">Цікаві факти</a></li>
  	  <li><a href="about.html">Про нас</a></li>
  	</ul>
  </nav>
  <body>
    <div class="grid-wrapper">
      <div class="box-text">
        <h2>Юрій Остапович</h2>
      </div>
      <div class="box-gif">
        <img class="avatar"  src="../img/github.gif" >
      </div>
    </div>
	</body>

</html>
