<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/general.css">
        <link rel="stylesheet" href="../static/facts.css">

    <title>Цікаві факти</title>
  </head>
  <nav class="sticky">
    <ul class="main-nav">
  	  <li class="push-left"><a href="main.html">Головна</a></li>
  	  <li><a href="information.html">Амбасадори</a></li>
  	  <li><a href="history.html">Історична довідка</a></li>
  	  <li><a href="fact.html">Цікаві факти</a></li>
  	  <li><a href="about.html">Про нас</a></li>
  	</ul>
  </nav>
  <body>
    <div class="grid-wrapper">
      <div class="box">
        <!-- Facts -->
        <div class="box-header">
          <h2>Освіта</h2>
        </div>
        <div class="box-content">
          <p> Освіта визначає експерта в будь-якій галузі. Ще від часів Радянського Союзу Україна славилась своєю сильною науковою школою. Список українських науковців містить математиків, фізиків, інформатиків і кібернетиків, винахідників тощо. З часів здобуття Україною незалежності у 1991 році українські школярі регулярно беруть участь у міжнародних наукових олімпіадах з математики, фізики, інформатики та інших наук. І вони завжди повертаються з медалями.</p>
          <p>Українська освіта змінюється відповідно до вимог ринку. Багато вишів почали пропонувати ІТ спеціалізацію. Високий рівень української ІТ освіти неодноразово було доведено. Згідно з результатами дослідження ”Портрет ІТ-спеціаліста 2020” на DOU, 64% українських спеціалістів мають вищу освіту та закінчили технічні інститути і університети.</p>
          <img src="https://s.dou.ua/storage-files/essence1.png" alt="https://s.dou.ua/storage-files/essence1.png">
        </div>
      </div>
      <div class="box">
        <!-- Salary-->
        <div class="box-header">
          <h2>Зарплата</h2>
        </div>
        <div class="box-content">
          <p> Одна з причин появи аутсорсу - це грошові переваги, що з’являються. Україна є однією з країн з найменшими зарплатами. Тим не менше, відчуваючи запит на свій досвід, український розробник підвищує свої вимоги щодо зарплатні. Порівняно з середніми зарплатами по країні, зарплати ІТ розробників доволі високі. Завдяки цьому українські розробники можуть витрачати більше на освіту, особистий розвиток, здоров’я і подорожі.</p>
          <p>Аутсорс - це ефективна стратегія, що дозволяє заощаджувати. Проте, у зв’язку з тим, що зарплати українських розробників постійно підвищуються, вони вже не завжди конкурентоздатні</p>
          <p>До того ж, український ІТ спеціаліст дуже прискіпливий щодо умов праці і менеджменту команди. Він хоче працювати в сучасному офісі, отримувати регулярні бонусні виплати, мати дружнє робоче середовище і може залишити компанію або проект, якщо не почувається там комфортно. Український розробник не хоче терпіти будь-які незручності.</p>
          <img src="https://s.dou.ua/storage-files/essence6.png" alt="https://s.dou.ua/storage-files/essence6.png">
        </div>
      </div>
      <div class="box">
        <!-- Audio-video -->
        <div class="box-header">
          <h2>Різне</h2>
        </div>
        <div class="box-content">
          <p>Зацікавленість також дуже важлива для українського програміста. Багато українських розробників мають власні проекти, а деякі створюють програмне забезпечення на добровольчих засадах. Доволі часто в новинах повідомляється про те, що українські програмісти розробили ПЗ, яке допоможе українським військовим, запобігатиме корупції, сприятиме розвитку українських шкіл тощо; в багатьох випадках ці програми передаються для користування безоплатно. До того ж часто можна зустріти розробників, які готові перейти з нудного проекту на складний, навіть якщо за нього менше платять.</p>
          <p>А також звуки клавіатури:</p>
          <audio controls>
            <source src="../img/keyboard.mp3" >
          </audio>
        <iframe src="https://www.youtube.com/embed/Am_F9r_BiNI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
   </body>
   <footer>
     <div class="footer">
       <p>© Всі права захищено</p>
       <p>Юра Остапович</p>
     </div>
   </footer>
</html>
