<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/general.css">
        <link rel="stylesheet" href="../static/history.css">

    <title>Історична Довідка</title>
  </head>
  <nav class="sticky">
    <ul class="main-nav">
  	  <li class="push-left"><a href="main.html">Головна</a></li>
  	  <li><a href="information.html">Амбасадори</a></li>
  	  <li><a href="history.html">Історична довідка</a></li>
  	  <li><a href="fact.html">Цікаві факти</a></li>
  	  <li><a href="about.html">Про нас</a></li>
  	</ul>
  </nav>
  <body>

  </body>
  <footer>
    <div class="footer">
      <p>© Всі права захищено</p>
      <p>Юра Остапович</p>

    </div>
  </footer>
</html>
