<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/general.css">
        <link rel="stylesheet" href="../static/history.css">

    <title>Історична Довідка</title>
  </head>
  <nav class="sticky">
    <ul class="main-nav">
  	  <li class="push-left"><a href="main.html">Головна</a></li>
  	  <li><a href="information.html">Амбасадори</a></li>
  	  <li><a href="history.html">Історична довідка</a></li>
  	  <li><a href="fact.html">Цікаві факти</a></li>
  	  <li><a href="about.html">Про нас</a></li>
  	</ul>
  </nav>
  <body>
    <div class="flex-wrapper">
      <div class="container">
        <p>Навряд чи всі колись дійдуть до спільної думки про найважливіші дати в історії ІТ. Кожна думка є абсолютною та унікальною, в тому числі й моя.</p>
        <p>Проте я намагався бути об'єктивним у дослідженні подій, які послужили формуванню сучасного ландшафту сучасної інформаційної сфери. Деякі етапи мого списку є дискусійними (залежно від вашої сфери діяльності), але деякі з них, швидше за все, ні.
        <p>
        <p>Тут зібрані декілька визначиних подій в світі, які мали значний вплив на сферу у світі і зокрема в Україні.</p>
      </div>
    </div>
    <div class="grid-wrapper">

      <!-- 1 --><div class="box">
                  <h1>1900</h1>
                </div>
      <!-- 2 --><div class="box">
                  <h1>1900</h1>
                </div>
      <!-- 3 --><div class="box">
                  <h1>1900</h1>
                </div>
      <!-- 4 --><div class="box">
                  <h1>1900</h1>
                </div>
      <!-- 5 --><div class="box">
                  <h1>1900</h1>
                </div>
      <!-- 6 --><div class="box">
                  <h1>1900</h1>
                </div>
      <!-- 7 --><div class="box">
                  <h1>1900</h1>
                </div>
      <!-- 8 --><div class="box">
                  <h1>1900</h1>
                </div>
      <!-- 9 --><div class="box">
                  <h1>1900</h1>
                </div>
      <!-- 10 --><div class="box">
                  <h1>1900</h1>
                </div>

          </div>
    </div>
  </body>
  <footer>
    <div class="footer">
      <p>© Всі права захищено</p>
      <p>Юра Остапович</p>

    </div>
  </footer>
</html>
