<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/general.css">
        <link rel="stylesheet" href="../static/information.css">

    <title>Інформація по темі</title>
  </head>
  <nav class="sticky">
    <ul class="main-nav">
  	  <li class="push-left"><a href="main.html">Головна</a></li>
  	  <li><a href="information.html">Амбасадори</a></li>
  	  <li><a href="history.html">Історична довідка</a></li>
  	  <li><a href="fact.html">Цікаві факти</a></li>
  	  <li><a href="about.html">Про нас</a></li>
  	</ul>
  </nav>
<body>
<!-- EPAM -->
	<div class="grid-wrapper">
    <div class="box-text">
      <h3>EPAM systems</h3>
      <p>EPAM Systems було засновано у 1993 році і з тих пір компанія розвинула свої послуги з інжинірингової експертизи настільки, що посіла місце світового лідера у сфері створення програмного забезпечення та надання послуг з розробки цифрових платформ.</p>
      <p>ЕРАМ надає замовникам найсучасніші інноваційні рішення, використовуючи досвід у стратегічному плануванні, консалтингу та розробці. Спеціалісти ЕРАМ надають послуги клієнтам компанії у більш ніж 25 країнах Північної Америки, Європи, Азії та Австралії. </p>
      <div class="buttons">
        <h4><a class="button pink" href="https://careers.epam.ua/">Website</a></h4>
        <h4><a class="button gray" href="https://goo.gl/maps/RZP55WykqrnqK1Kn6">Location</a></h4>
      </div>
    </div>
    <div class="box-logo">
      <img src="../img/EPAM.png" alt="">
    </div>
  </div>
   <!-- SoftServe -->
  <div class="grid-wrapper">
    <div class="box-logo">
      <img src="../img/SoftServe.png" alt="">
    </div>
    <div class="box-text pink-border">
      <h3>Softserve</h3>
      <p>SoftServe має значний досвід у розробці програмного забезпечення — від Cloud, Security і UX Design до Big Analytics та Internet of Things. Головними сферами, для яких компанія розробляє програмні рішення, є охорона здоров'я, роздрібна торгівля, фінансові послуги та програмне забезпечення. </p>
      <p>У 2012 році SoftServe став ініціатором проведення щорічного конкурсу «Ukrainian IT Award», що визначає найкращих фахівців української ІТ-індустрії. Компанія залишається партнером конкурсу і по сьогоднішній день.</p>
      <div class="buttons">
        <h4><a class="button blue" href="https://www.softserveinc.com/en-us">Website</a></h4>
        <h4><a class="button gray" href="https://goo.gl/maps/XonHcTCRNPihkRVL7">Location</a></h4>
      </div>
    </div>
  </div>
<!-- GlobalLogic-->
  <div class="grid-wrapper">
    <div class="box-text blue-border">
      <h3>GlobalLogic</h3>
      <p>GlobalLogic Україна входить до GlobalLogic Inc., яка налічує понад 16000 працівників у Аргентині, Великій Британії, Ізраїлі, Індії, Китаї, Польщі, Словаччині, США, Україні, Хорватії, Чилі та Швеції.  </p>
      <p>Головний офіс GlobalLogic знаходиться у Сан-Хосе (Каліфорнія, США). Компанія займається розробкою програмних продуктів у таких сферах як цифрові медіа та телекомунікації, автомобільні технології, охорона здоров'я, фінанси, роздрібна торгівля та електронна комерція.</p>
      <div class="buttons">
        <h4><a class="button purple" href="https://www.globallogic.com/ua">Website</a></h4>
        <h4><a class="button gray" href="https://goo.gl/maps/g9AteyHJKVG1AbuR7">Location</a></h4>
      </div>
    </div>
    <div class="box-logo">
      <img src="../img/globallogic.png" alt="" width="80%">
    </div>
  </div>
</body>
<footer>
  <div class="footer">
    <p>© Всі права захищено</p>
    <p>Юра Остапович</p>
  </div>
</footer>
</html>
