<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../static/general.css">
        <link rel="stylesheet" href="../static/main.css">
    <title>Головна</title>
  </head>
<body>
  <nav class="sticky">
    <ul class="main-nav">
  	  <li class="push-left"><a href="main.html">Головна</a></li>
  	  <li><a href="information.html">Амбасадори</a></li>
  	  <li><a href="history.html">Історична довідка</a></li>
  	  <li><a href="fact.html">Цікаві факти</a></li>
  	  <li><a href="about.html">Про нас</a></li>
  	</ul>
  </nav>
  <main>
    <!-- epigraph section -->
    <div class="epigraph"><i>«Якщо щось працює - то не чіпай це»</i></div>
    <!-- banner section -->
    <div class="banner-container">
      <img class="banner"src="../img/banner.png" alt="">
    </div>
    <!-- text section -->
      <div class="text">
        <h1>Історія розвитку IT в Україні.</h1>
        <p>Пишаємось, що українське!</p>
        <p>Тут ви дізнаєтесь як розвивались ІТ-технології в Україні</p>
      </div>
      <!-- Obligatory(by project aims) gif section -->
    <div class="gif-container">
      <img src="../img/sinopsis.gif" alt="">
    </div>
  </main>
  <footer>
    <div class="footer">
      <p>© Всі права захищено</p>
      <p>Юра Остапович</p>
    </div>
  </footer>
</body>
</html>
